html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--vscode-font-family);

    --node-height: 20px;
}

body {
    background-color: var(--vscode-editor-background);
    border-top: 1px solid var(--vscode-editorGroup-border);
}

/*
    ----- MAIN VIEW -----
*/

#editor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
}

.full-wrapper {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none !important;
}

/*
    ----- TITLEBAR -----
*/

#titlebar {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 1px;
    background-color: var(--vscode-tab-inactiveBackground);
}

#titlebar:first-child {
    border-left: none !important;
}

.titlebar-tab.active {
    color: var(--vscode-tab-activeForeground);
    background-color: var(--vscode-tab-activeBackground);
    border-left: 1px solid var(--vscode-editorGroupHeader-tabsBorder);
    border-right: 1px solid var(--vscode-editorGroupHeader-tabsBorder);
    border-top: 1px solid var(--vscode-tab-activeBorderTop);
    border-bottom-color: var(--vscode-editorGroupHeader-noTabsBackground);
}

.titlebar-tab {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 2px;
    height: 100%;
    justify-content: center;
    color: var(--vscode-tab-inactiveForeground);
    border-bottom: 2px solid var(--vscode-editorGroupHeader-tabsBorder);
}

.titlebar-tab-fill {
    flex-grow: 1;
    margin-top: 2px;
    height: 100%;
    border-bottom: 2px solid var(--vscode-editorGroupHeader-tabsBorder);
}

.titlebar-tab-text {
    padding: 0 10px;
    margin: 0;
}

/*
    ----- FILE INPUT -----
*/


#input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.input-label {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 20px;
    margin: 0;
    padding: 8px;
    border: 1px solid var(--vscode-commandCenter-activeBorder);
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    color: var(--vscode-foreground);
}

.input-label svg {
    width: 16px;
    padding: 0 3px;
    fill: white;
}

.input-label p {
    margin: 0;
}

#load-vscprof {
    display: none;
    z-index: -1;
}

/*
    ----- FLAME GRAPH -----
*/

#thread-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.thread-button {
    width: calc(100% - 2px);
    text-align: center;
    border: 1px solid transparent;
    font-size: 0.85rem;
    cursor: pointer;
}

.thread-button:hover {
    background-color: var(--vscode-list-hoverBackground);
}

.thread-button.active {
    background-color: var(--vscode-list-inactiveSelectionBackground);
    border-color: var(--vscode-list-inactiveSelectionBackground);
    font-weight: 500;
}

.thread-button.active:active {
    background-color: var(--vscode-list-activeSelectionBackground);
    border-color: var(--vscode-list-focusOutline);
}


/*
    ----- FLAME GRAPH -----
*/

.flame-graph-container {
    display: flex;
    flex-direction:column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
}

.flame-graph {
    position: relative;
    background-color: var(--vscode-editor-background);
}

.flame-node {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    height: calc(var(--node-height) - 2px);
    transition: filter 0.2s;
    border: 1px solid var(--vscode-editor-background);
    border-radius: 3px;
    font-weight: 500;
}

.flame-node:hover {
    filter: brightness(1.2);
    z-index: 1;
}

.flame-node-text {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 0 0 0.4rem;
}

.flame-graph-bottom {
    height: 20px;
    border-top: 2px solid var(--vscode-editorGroup-border);
}

/*
    ----- TOOLTIP -----
*/

function-tooltip {
    display: none;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    padding: 4px 8px;
    background: var(--vscode-editorWidget-background);
    color: var(--vscode-editorWidget-foreground);
    border: 1px solid var(--vscode-editorWidget-border);
    font-size: 0.9rem;
    font-weight: 400;
    box-shadow: 0 2px 8px var(--vscode-widget-shadow);
    transition: opacity 0.2s;
    border-radius: 3px;
    max-width: 50%;
}

function-tooltip p {
    margin: 0;
    white-space: nowrap;
}

.tooltip-fire {
    fill: var(--fire-color);
    color: var(--fire-color);

    --fire-color: #c25452;
}

.tooltip-time {
    display: flex;
    align-items: center;
    padding-bottom: 0.25rem;
    gap: 0.2rem;
}

.tooltip-data {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.tooltip-function {
    font-family: var(--vscode-editor-font-family);
    font-weight: bold;
    overflow: hidden;
}

.tooltip-percentage {
    font-weight: bold;
}

.tooltip-text-spacer {
    flex-grow: 1;
    min-width: 10%;
}

/*
    ----- RESIZABLE GRID -----
*/

resizable-grid {
    touch-action: none;
    display: grid;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

resizable-grid > * {
    overflow: hidden;
    position: relative;
}

.gutter {
    position: absolute;
    cursor: ew-resize;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: background 0.2s;
    background: var(--vscode-widget-border);
    width: 1px;
}

.gutter:hover {
    width: 4px;
    background: var(--vscode-sash-hoverBorder);
}

/*
    ----- CALL TREE -----
*/

.calltree-container {
    overflow-y: scroll;
    overflow-x: hidden;
}

.calltree {
    list-style: none;
    padding-left: 7px;
    margin: 0;
    padding-top: 5px;
}

.calltree ul {
    padding-inline-start: 10px;
}

.calltree p {
    margin: 0;
    white-space: nowrap;
}

.calltree-item {
    display: flex;
    flex-direction: column;
}

.calltree-item-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding: 2px 0;
    font-weight: 200;
}

.calltree-item-data p {
    font-weight: 600;
}

.calltree-item-chevron {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.calltree-item-chevron[aria-expanded=true] .chevron-right {
    display: none;
}

.calltree-item-chevron[aria-expanded=false] .chevron-down {
    display: none;
}

.calltree-item-percentage {
    font-weight: 600;
}

/*
    ----- METHODS LIST -----
*/

.methods {
    overflow-y: scroll;
}

.methods p {
    font-weight: 300;
    margin: 0 0 0 0.3rem;
    overflow: hidden;
    white-space: nowrap;
}

.methods > * {
    display: grid;
    grid-auto-rows: 1.4rem;
    height: fit-content;
}

.methods > * > p:first-of-type {
    border-bottom: 1px solid var(--vscode-editorGroupHeader-tabsBorder);
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0.15rem;
}

.method-bar {
    position: relative;
    align-content: center;
}

.method-bar-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
}

.method-bar-text {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 99%;
    margin: 0 !important;
    font-weight: 500 !important;
    color: var(--vscode-foreground);
    text-align: right;
}

/*
    ----- TIMELINE -----
*/

.timeline-container {
    display: grid;
    grid-auto-columns: 50% 50%;
    grid-auto-rows: 50% 50%;
}

#cpu-container {
    grid-column: 1;
    grid-row: 1;
}

#heap-container {
    grid-column: 2;
    grid-row: 1;
}

#threads-container {
    grid-column: 1;
    grid-row: 2;
}

#stack-container {
    grid-column: 2;
    grid-row: 2;
}

.timeline-grid-element {
    padding: 2.5%;
    border: 1px solid var(--vscode-editorWidget-border);
}

.timeline-container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
}

.timeline-container-title > p {
    margin: 0.2rem 0.4rem;
    font-weight: 500;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90%;
    width: 100%;
}

.timeline-graph {
    margin: 0.2rem 0.4rem;
    width: 100%;
    height: 100%;
}

.timeline-chart-text {
    fill: var(--vscode-foreground);
    font-size: 10px;
}

.timeline-chart-line {
    stroke-width: 0.5;
    stroke: var(--vscode-editorGroup-border);
}

.timeline-chart {
    fill: var(--chart-fill);
    stroke: var(--chart-fill);
    fill-opacity: 0.5;
    stroke-width: 2;
}

#cpu-chart {
    --chart-fill: #4c8041;
}

#heap-chart {
    --chart-fill: #4382e9;
}

#threads-chart {
    --chart-fill: #d74845;
}

#stack-chart {
    --chart-fill: #6e537e;
}
