html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--vscode-editor-background);
    border-top: 1px solid var(--vscode-editorGroup-border);
}

.sidebar {
    width: 3%;
    min-width: 30px;
    height: 100vh;
    border-right: 1px solid var(--vscode-editorWidget-border);
    background-color: var(--vscode-sideBar-background);
}

.editor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.titlebar {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 1px;
    border-bottom: 2px solid var(--vscode-editorGroupHeader-border);
}

.titlebar-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    color: var(--vscode-foreground);
}

.titlebar-button-text {
    padding: 0px 10px;
    margin: 0px;
}

.titlebar-button-border {
    position: relative;
    height: 4px;
    bottom: -7px;
    background: transparent;
    border-radius: 0.5rem;
}

.titlebar-button-border.active {
    background: var(--vscode-tab-activeBorder);
}

.main {
    flex: 1;
}

.input-label {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 20px;
    margin: 0;
    padding: 8px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--vscode-editorGroup-border);
    background: var(--vscode-activityBarBadge-background);
    font-family: var(--vscode-font-family);
}

.input-label svg {
    width: 16px;
    padding: 0px 3px;
    fill: var(--vscode-icon-foreground);
}

.input-label p {
    margin: 0px;
}

#load-vscprof {
    opacity: 0;
    z-index: -1;
}

.flame-graph {
    position: relative;
    background-color: var(--vscode-editor-background);
}

.flame-node {
    position: absolute;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    height: 18px;
    transition: filter 0.2s;
    border-left: 1px solid var(--vscode-editor-background);
    font-weight: 500;
    font-family: var(--vscode-font-family);
}

.flame-node:hover {
    filter: brightness(1.2);
    z-index: 1;
}

.flame-graph-bottom {
    height: 20px;
    border-top: 2px solid var(--vscode-editorGroup-border);
}

.tooltip {
    display: none;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    padding: 4px 8px;
    background: var(--vscode-editorWidget-background);
    color: var(--vscode-editorWidget-foreground);
    border: 1px solid var(--vscode-editorWidget-border);
    font-size: var(--vscode-editor-font-size);
    box-shadow: 0 2px 8px var(--vscode-widget-shadow);
    opacity: 0;
    transition: opacity 0.2s;
    border-radius: 3px;
}

.tooltip p {
    margin: 0;
    width: fit-content;
}

.tooltip-name {
    display: flex;
    gap: 7px;
}

.calltree {
    list-style: none;
    padding-left: 7px;
    margin: 0px;
    padding-top: 5px;
    font-family: var(--vscode-editor-font-family);
}

.calltree ul {
    padding-inline-start: 15px;
}

.calltree p {
    margin: 0;
    white-space: nowrap;
}

.calltree-item {
    display: flex;
    flex-direction: column;
}

.calltree-item-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding: 2px 0px;
    font-weight: 200;
}

.calltree-item-chevron {
    cursor: pointer;
}

.calltree-item-chevron[aria-expanded=true] .chevron-right {
    display: none;
}

.calltree-item-chevron[aria-expanded=false] .chevron-down {
    display: none;
}

.calltree-item-percentage {
    font-weight: 600;
}

.method {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3px;
}

.method p {
    margin: 0px;
    padding: 3px 0px;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.method-bar {
    width: 20%;
    height: calc(100% - 2px);
    align-content: center;
    background-color: var(--vscode-sideBar-background);
}

.method-bar-bg {
    height: 100%;
}

.methods-titlebar {
    display: flex;
    align-items: center;
    min-height: 30px;
    border-bottom: 1px solid var(--vscode-editorGroup-border);
}

.methods-titlebar div {
    align-content: center;
    height: 100%;
    border-right: 1px solid var(--vscode-editorGroup-border);
}

.methods-titlebar p {
    margin: 0px;
    padding-left: 3px;
}